<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <jee:jndi-lookup jndi-name="jdbc/library" id="dataSource" expected-type="javax.sql.DataSource" />

    <bean id="regionDao" class="com.photochecker.dao.jdbc.spring.common.RegionDaoSpringImpl" />
    <bean id="clientCardDao" class="com.photochecker.dao.jdbc.spring.common.ClientCardDaoSpringImpl" />
    <bean id="distrDao" class="com.photochecker.dao.jdbc.spring.common.DistrDaoSpringImpl" />
    <bean id="channelDao" class="com.photochecker.dao.jdbc.spring.common.ChannelDaoSpringImpl" />
    <bean id="lkaDao" class="com.photochecker.dao.jdbc.spring.common.LkaDaoSpringImpl" />
    <bean id="photoCardDao" class="com.photochecker.dao.jdbc.spring.common.PhotoCardDaoSpringImpl" />
    <bean id="reportTypeDao" class="com.photochecker.dao.jdbc.spring.common.ReportTypeDaoSpringImpl" />
    <bean id="responsibilityDao" class="com.photochecker.dao.jdbc.spring.common.ResponsibilityDaoSpringImpl" />
    <bean id="userDao" class="com.photochecker.dao.jdbc.spring.common.UserDaoSpringImpl" />

    <bean id="clientCriteriasDao" class="com.photochecker.dao.jdbc.spring.lka.ClientCriteriasDaoSpringImpl" />
    <bean id="lkaCriteriasDao" class="com.photochecker.dao.jdbc.spring.lka.LkaCriteriasDaoSpringImpl" />
    <bean id="lkaReportItemDao" class="com.photochecker.dao.jdbc.spring.lka.LkaReportItemDaoSpringImpl" />

    <bean id="dmpClientCriteriasDao" class="com.photochecker.dao.jdbc.spring.lkaDmp.DmpClientCriteriasDaoSpringImpl" />



    <bean id="uploadService" class="com.photochecker.service.serviceDaoImpl.common.UploadServiceDaoImpl" />
    <bean id="commonService" class="com.photochecker.service.serviceDaoImpl.common.CommonServiceDaoImpl" />
    <bean id="reportTypeService" class="com.photochecker.service.serviceDaoImpl.common.ReportTypeServiceDaoImpl" />
    <bean id="responsibilitiesService" class="com.photochecker.service.serviceDaoImpl.common.ResponsibilitiesServiceDaoImpl" />
    <bean id="userService" class="com.photochecker.service.serviceDaoImpl.common.UserServiceDaoImpl" />
    <bean id="clientCardService" class="com.photochecker.service.serviceDaoImpl.common.ClientCardServiceDaoImpl" />
    <bean id="clientCriteriasService" class="com.photochecker.service.serviceDaoImpl.lka.ClientCriteriasServiceDaoImpl" />
    <bean id="distrService" class="com.photochecker.service.serviceDaoImpl.common.DistrServiceDaoImpl" />
    <bean id="channelService" class="com.photochecker.service.serviceDaoImpl.common.ChannelServiceDaoImpl" />
    <bean id="excelReportService" class="com.photochecker.service.serviceDaoImpl.lka.ExcelReportServiceDaoImpl" />
    <bean id="lkaCriteriasService" class="com.photochecker.service.serviceDaoImpl.lka.LkaCriteriasServiceDaoImpl" />
    <bean id="lkaService" class="com.photochecker.service.serviceDaoImpl.common.LkaServiceDaoImpl" />
    <bean id="photoCardService" class="com.photochecker.service.serviceDaoImpl.common.PhotoCardServiceDaoImpl" />
    <bean id="regionService" class="com.photochecker.service.serviceDaoImpl.common.RegionServiceDaoImpl" />

    <bean id="dmpClientCriteriasService" class="com.photochecker.service.serviceDaoImpl.lkaDmp.DmpClientCriteriasServiceDaoImpl" />

</beans>