<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <jee:jndi-lookup jndi-name="jdbc/library" id="dataSource" expected-type="javax.sql.DataSource" />

    <bean id="regionDao" class="com.photochecker.dao.common.springImpl.RegionDaoSpringImpl" />
    <bean id="clientCardDao" class="com.photochecker.dao.common.springImpl.ClientCardDaoSpringImpl" />
    <bean id="distrDao" class="com.photochecker.dao.common.springImpl.DistrDaoSpringImpl" />
    <bean id="channelDao" class="com.photochecker.dao.common.springImpl.ChannelDaoSpringImpl" />
    <bean id="lkaDao" class="com.photochecker.dao.common.springImpl.LkaDaoSpringImpl" />
    <bean id="photoCardDao" class="com.photochecker.dao.common.springImpl.PhotoCardDaoSpringImpl" />
    <bean id="reportTypeDao" class="com.photochecker.dao.common.springImpl.ReportTypeDaoSpringImpl" />
    <bean id="responsibilityDao" class="com.photochecker.dao.common.springImpl.ResponsibilityDaoSpringImpl" />
    <bean id="userDao" class="com.photochecker.dao.common.springImpl.UserDaoSpringImpl" />

    <bean id="clientCriteriasDao" class="com.photochecker.dao.lka.springImpl.ClientCriteriasDaoSpringImpl" />
    <bean id="lkaCriteriasDao" class="com.photochecker.dao.lka.springImpl.LkaCriteriasDaoSpringImpl" />
    <bean id="lkaReportItemDao" class="com.photochecker.dao.lka.springImpl.LkaReportItemDaoSpringImpl" />

    <bean id="dmpClientCriteriasDao" class="com.photochecker.dao.lkaDmp.springImpl.DmpClientCriteriasDaoSpringImpl" />
    <bean id="dmpReportItemDao" class="com.photochecker.dao.lkaDmp.springImpl.DmpReportItemDaoSpringImpl" />

    <bean id="nkaTypeDao" class="com.photochecker.dao.mlka.springImpl.NkaTypeDaoSpringImpl" />
    <bean id="employeeDao" class="com.photochecker.dao.mlka.springImpl.EmployeeDaoSpringImpl" />
    <bean id="nkaRespDao" class="com.photochecker.dao.mlka.springImpl.NkaRespDaoSpringImpl" />
    <bean id="mlkaClientCriteriasDao" class="com.photochecker.dao.mlka.springImpl.MlkaClientCriteriasDaoSpringImpl" />
    <bean id="mlkaReportItemDao" class="com.photochecker.dao.mlka.springImpl.MlkaReportItemDaoSpringImpl" />



    <bean id="uploadService" class="com.photochecker.service.common.daoImpl.UploadServiceDaoImpl" />
    <bean id="commonService" class="com.photochecker.service.common.daoImpl.CommonServiceDaoImpl" />
    <bean id="reportTypeService" class="com.photochecker.service.common.daoImpl.ReportTypeServiceDaoImpl" />
    <bean id="responsibilitiesService" class="com.photochecker.service.common.daoImpl.ResponsibilitiesServiceDaoImpl" />
    <bean id="userService" class="com.photochecker.service.common.daoImpl.UserServiceDaoImpl" />
    <bean id="clientCardService" class="com.photochecker.service.common.daoImpl.ClientCardServiceDaoImpl" />
    <bean id="distrService" class="com.photochecker.service.common.daoImpl.DistrServiceDaoImpl" />
    <bean id="channelService" class="com.photochecker.service.common.daoImpl.ChannelServiceDaoImpl" />
    <bean id="lkaService" class="com.photochecker.service.common.daoImpl.LkaServiceDaoImpl" />
    <bean id="photoCardService" class="com.photochecker.service.common.daoImpl.PhotoCardServiceDaoImpl" />
    <bean id="regionService" class="com.photochecker.service.common.daoImpl.RegionServiceDaoImpl" />

    <bean id="clientCriteriasService" class="com.photochecker.service.lka.daoImpl.ClientCriteriasServiceDaoImpl" />
    <bean id="excelReportService" class="com.photochecker.service.lka.daoImpl.ExcelReportServiceDaoImpl" />
    <bean id="lkaCriteriasService" class="com.photochecker.service.lka.daoImpl.LkaCriteriasServiceDaoImpl" />

    <bean id="dmpClientCriteriasService" class="com.photochecker.service.lkaDmp.daoImpl.DmpClientCriteriasServiceDaoImpl" />
    <bean id="dmpExcelReportService" class="com.photochecker.service.lkaDmp.daoImpl.DmpExcelReportServiceDaoImpl" />

    <bean id="nkaTypeService" class="com.photochecker.service.mlka.daoImpl.NkaTypeServiceDaoImpl" />
    <bean id="employeeService" class="com.photochecker.service.mlka.daoImpl.EmployeeServiceDaoImpl" />
    <bean id="nkaRespService" class="com.photochecker.service.mlka.daoImpl.NkaRespServiceDaoImpl" />
    <bean id="mlkaClientCriteriasService" class="com.photochecker.service.mlka.daoImpl.MlkaClientCriteriasServiceDaoImpl" />
    <bean id="mlkaExcelReportService" class="com.photochecker.service.mlka.daoImpl.MlkaExcelReportServiceDaoImpl" />

</beans>